
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Category

<h1>Delete</h1>


<p>
  @ViewBag.CName silmek istediğinize emin misiniz ?

  <p>
    @ViewData["Desc"]
  </p>

  <form method="post">
    <input type="hidden" asp-for="CategoryId" />
    <input type="submit"  value="Sil"/>
  </form>
</p>

